@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Inter Tight", sans-serif;
  font-display: swap;
  background-color: #fff;
  font-weight: 300;
  line-height: 1.4; }

.container {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: [sidebar-start] 23% [sidebar-end main-start] 1fr [main-end];
  grid-template-rows: [rowOne-start] max-content [rowOne-end rowTwo-start] min-content [rowTwo-end]; }

.card {
  background-color: #ebfbee;
  background-size: cover;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  box-shadow: rgba(16, 171, 43, 0.3) 0px 1px 1px;
  margin-bottom: 2rem; }

.modal {
  padding: 2rem 6rem;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  max-width: 100rem;
  height: max-content;
  z-index: 1000000;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out; }
  @media only screen and (max-width: 45.7em) {
    .modal {
      padding: 6rem 2rem; } }
  .modal.active, .modal.openModal {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s ease-in-out, visibility .2s; }

.main.blur,
.sidebar.blur {
  backdrop-filter: blur(1px);
  filter: blur(1px); }

.main.blur::before,
.sidebar.blur::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.46);
  z-index: 2222222; }

@media only screen and (max-width: 50.3em) {
  .sidebar.blur {
    backdrop-filter: blur(0px);
    filter: none; } }

@media only screen and (max-width: 50.3em) {
  .sidebar.blur::before {
    background-color: none; } }

.hero-btn-dark,
.hero-btn-light,
.hero-btn-dark_square {
  background-color: #0F7A89;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Inter Tight", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1rem 1rem;
  border-radius: 5rem;
  transition: all 0.5s;
  border: none;
  box-shadow: inset 0 0 0 1px #F89942; }
  .hero-btn-dark:not(:last-child),
  .hero-btn-light:not(:last-child),
  .hero-btn-dark_square:not(:last-child) {
    margin-right: 1.5rem; }
    @media only screen and (max-width: 75em) {
      .hero-btn-dark:not(:last-child),
      .hero-btn-light:not(:last-child),
      .hero-btn-dark_square:not(:last-child) {
        margin-bottom: 1.5rem; } }
  .hero-btn-dark:hover,
  .hero-btn-light:hover,
  .hero-btn-dark_square:hover {
    transform: scale(1.07); }
  .hero-btn-dark:active,
  .hero-btn-light:active,
  .hero-btn-dark_square:active {
    transform: scale(1.04); }

.hero-btn-light {
  background-color: #fff;
  color: #0F7A89;
  box-shadow: inset 0px 0px 0px 2px #0F7A89;
  transition: all 0.5s; }
  .hero-btn-light:hover {
    transform: scale(1.07);
    background-color: #F89942; }
  .hero-btn-light:active {
    transform: scale(1.04);
    background-color: #F89942; }

.hero-btn-dark_square {
  border-radius: 5px;
  margin-right: 1.5rem; }

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none; }

.icon-mobile-nav {
  height: 5.8rem;
  width: 5.8rem;
  color: #fff; }

.icon-mobile-nav[name="close-outline"] {
  display: none; }

.main.no-scroll {
  overflow: hidden; }

@media only screen and (max-width: 50.3em) {
  .main-nav {
    display: none; }
  .btn-mobile-nav {
    display: block;
    z-index: 9999; }
  nav.sidebar {
    display: block;
    backdrop-filter: blur(2px);
    z-index: 100000;
    width: 150%;
    height: 100%;
    top: 0;
    left: -100;
    border-top-right-radius: 30px;
    border-right: 2px solid #fff;
    box-shadow: 0 1.2rem 3.2rem rgba(38, 93, 165, 0.388);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-4%) translateX(-100%);
    transition: all .3s ease-in; }
    nav.sidebar .sidebar-fixed {
      width: 90%; }
  body.no-scroll {
    overflow: hidden; }
  .navigation-header.nav-open + nav.sidebar {
    display: block;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0) translateY(0);
    left: 0;
    position: fixed;
    top: 0;
    max-width: 50%; } }
  @media only screen and (max-width: 50.3em) and (max-width: 25.5em) {
    .navigation-header.nav-open + nav.sidebar {
      max-width: 67%; } }

@media only screen and (max-width: 50.3em) {
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block; }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none; }
  .main-nav-list {
    gap: 4.8rem;
    font-size: 1rem; }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem; } }

.sidebar {
  grid-column: sidebar-start / sidebar-end;
  grid-row: rowOne-start / rowTwo-end;
  overflow-y: auto;
  height: 100vh;
  width: 100%;
  background-color: #51cf66;
  color: #ebfbee;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: rgba(81, 207, 102, 0.5) 2px 0px 7px; }
  .sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem 0; }
    .sidebar-header-link {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      text-decoration: none; }
    .sidebar-header-logo {
      width: 4rem;
      height: 4rem; }
    .sidebar-header span {
      font-size: 4rem;
      font-weight: 600;
      color: #205329;
      display: flex;
      align-items: center; }
  .sidebar .side-nav {
    font-size: 2rem;
    list-style: none;
    margin-top: 1rem;
    border-bottom: 0.5px solid #10AB2B; }
    .sidebar .side-nav_item {
      position: relative;
      padding: 1rem 1.5rem;
      color: #205329;
      font-weight: 600;
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      transition-property: color;
      transition-duration: 0.5s; }
      @media only screen and (max-width: 30.5em) {
        .sidebar .side-nav_item {
          padding: 1rem 0 1rem 1rem; } }
      .sidebar .side-nav_item::before {
        position: absolute;
        content: '';
        background-color: #205329;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        transform: scaleX(0);
        transform-origin: 0 50%;
        transition-property: transform;
        transition-duration: 0.5s;
        transition-timing-function: ease-out; }
      .sidebar .side-nav_item.active {
        color: #ebfbee; }
      .sidebar .side-nav_item:hover {
        color: #ebfbee; }
      .sidebar .side-nav_item:hover::before, .sidebar .side-nav_item.active::before, .sidebar .side-nav_item:active::before, .sidebar .side-nav_item:focus::before {
        transform: scaleX(1);
        transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }
    .sidebar .side-nav_link:link, .sidebar .side-nav_link:visited {
      color: white;
      text-decoration: none; }
      .sidebar .side-nav_link:link .icon, .sidebar .side-nav_link:visited .icon {
        margin-right: 1rem; }
        @media only screen and (max-width: 30.5em) {
          .sidebar .side-nav_link:link .icon, .sidebar .side-nav_link:visited .icon {
            margin-right: .5rem; } }

.navigation-header {
  grid-column: 2/-1;
  grid-row: rowOne-start / rowOne-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 5.5rem;
  padding: 0 3rem; }
  .navigation-header .logo {
    height: 4rem; }
  .navigation-header .main-nav-list {
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center; }
  .navigation-header .main-nav-link:link,
  .navigation-header .main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.5rem; }
    .navigation-header .main-nav-link:link::before,
    .navigation-header .main-nav-link:visited::before {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      content: '';
      height: 1px;
      width: 0px;
      background-color: #fff; }
    @media only screen and (max-width: 50.3em) {
      .navigation-header .main-nav-link:link,
      .navigation-header .main-nav-link:visited {
        font-size: 4rem; } }
  .navigation-header .main-nav-link:hover,
  .navigation-header .main-nav-link:active {
    transform: scale(1.1); }
    .navigation-header .main-nav-link:hover::before,
    .navigation-header .main-nav-link:active::before {
      transition: .3s;
      width: 100%; }
  .navigation-header .hero-btn-dark,
  .navigation-header .hero-btn-light {
    font-size: 1.4rem;
    padding: .5rem 1rem;
    margin-right: 0; }
    @media only screen and (max-width: 50.3em) {
      .navigation-header .hero-btn-dark,
      .navigation-header .hero-btn-light {
        font-size: 3.5rem;
        margin-top: 4rem; } }
  .navigation-header .main-nav-link.hero-btn-light {
    color: #0F7A89; }
    @media only screen and (max-width: 50.3em) {
      .navigation-header .main-nav-link.hero-btn-light {
        margin-top: 1.5rem; } }

.main {
  grid-column: 2/-1;
  grid-row: rowOne-start / rowTwo-end;
  padding: 1.6rem;
  position: relative;
  color: #205329; }
  .main-heading {
    display: flex;
    align-items: center;
    justify-content: center; }
    .main-heading_intro {
      margin-right: auto; }
    .main-heading_left {
      display: flex;
      align-items: center;
      gap: 1rem; }
      .main-heading_left .main-heading-profile--image {
        width: 4rem;
        height: 4rem;
        border-radius: 10px;
        border: 3px solid #51cf66; }
    .main-heading_side {
      display: flex;
      align-items: center;
      gap: 1rem; }

.section-login {
  background-image: linear-gradient(to right, #51cf66, rgba(16, 171, 43, 0.93)), url(../img/hero-image.svg);
  grid-column: 1/-1;
  grid-row: header-start/ header-end;
  padding: 8rem 2rem;
  display: grid;
  grid-template-columns: 1fr 100rem 1fr; }
  @media only screen and (max-width: 75em) {
    .section-login {
      grid-template-columns: 100%;
      grid-template-columns: 1fr 100% 1fr; } }
  @media only screen and (max-width: 50.3em) {
    .section-login {
      grid-template-columns: 100%; } }
  .section-login .login {
    grid-column: 2/3;
    margin: 0 auto;
    background-image: linear-gradient(to right, #51cf66, rgba(16, 171, 43, 0.93));
    width: 100%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden; }
    @media only screen and (max-width: 50.3em) {
      .section-login .login {
        grid-column: 1/-1; } }
    .section-login .login-cta {
      display: grid;
      grid-template-columns: 1.5fr 1fr; }
      @media only screen and (max-width: 50.3em) {
        .section-login .login-cta {
          grid-template-columns: 1fr; } }
      .section-login .login-cta-text_box {
        padding: 4.8rem 6.4rem 6.4rem 6.4rem; }
        @media only screen and (max-width: 50.3em) {
          .section-login .login-cta-text_box {
            grid-row: 2/3;
            margin-top: 2rem;
            padding: 4.8rem 3.4rem 6.4rem 3.4rem; } }
      .section-login .login-cta-image {
        background-image: linear-gradient(to right, rgba(81, 207, 102, 0.5), rgba(16, 171, 43, 0.5)), url(../img/login-image.png);
        background-size: cover;
        background-position: center; }
        @media only screen and (max-width: 50.3em) {
          .section-login .login-cta-image {
            grid-row: 1/2;
            height: 32rem; } }
    .section-login .login-heading {
      position: relative;
      font-size: 3rem;
      font-weight: 600;
      color: #fff; }
    .section-login .login-form {
      margin-top: 3rem; }
      .section-login .login-form_input {
        height: 5rem;
        margin: 7rem 0; }
        .section-login .login-form_input label {
          display: block;
          padding-left: 2rem;
          text-align: left;
          font-size: 2rem;
          font-weight: 500;
          margin-bottom: 1.2rem;
          color: #fff; }
        .section-login .login-form_input input {
          height: 100%;
          width: 100%;
          outline: none;
          padding: 1.5rem 2rem;
          font-size: 2.5rem;
          font-family: inherit;
          font-weight: 500;
          color: #51cf66;
          border: none;
          background-color: #e9eff6;
          border-radius: 9px;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          transition: all 0.3s ease; }
          .section-login .login-form_input input:focus, .section-login .login-form_input input:valid {
            background-color: #fff;
            box-shadow: 0 0 0 0.8rem rgba(248, 153, 66, 0.36); }
      .section-login .login-form .hero-btn-dark {
        padding: 1.5rem 2rem;
        margin-bottom: 1.5rem;
        font-size: 1.3rem; }
        .section-login .login-form .hero-btn-dark:hover {
          transform: scale(1.06); }
      .section-login .login-form-user_login {
        font-size: 1.5rem;
        color: #fff;
        text-align: left;
        font-weight: 400; }
        .section-login .login-form-user_login-link {
          color: #205329;
          text-decoration: none;
          font-size: 1.8rem;
          font-weight: 600;
          position: relative; }
          .section-login .login-form-user_login-link::before {
            transition: all .3s;
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            content: '';
            height: 1px;
            width: 0px;
            background-color: #205329; }
          .section-login .login-form-user_login-link:hover::before {
            width: 100%; }

.pos {
  height: min-content;
  color: #205329; }
  .pos .card-white.pos-method input,
  .pos .card-white.pos-method select {
    background-color: rgba(32, 83, 41, 0.36);
    color: red; }
    .pos .card-white.pos-method input:focus, .pos .card-white.pos-method input:valid,
    .pos .card-white.pos-method select:focus,
    .pos .card-white.pos-method select:valid {
      background-color: #F89942;
      box-shadow: 0 0 0 0.8rem rgba(81, 207, 102, 0.56); }
    .pos .card-white.pos-method input::placeholder,
    .pos .card-white.pos-method select::placeholder {
      color: #51cf66; }
  .pos-method {
    margin: 0 auto;
    padding: 2rem;
    overflow: hidden; }
    .pos-method-heading {
      position: relative;
      font-size: 1.8rem; }
    .pos-method-form_input {
      margin-top: 2rem; }
      .pos-method-form_input label {
        display: block;
        text-align: left;
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: .5rem;
        color: #205329; }
      .pos-method-form_input input,
      .pos-method-form_input select {
        height: 100%;
        width: 60%;
        outline: none;
        padding: 1rem;
        font-size: 1.6rem;
        font-family: inherit;
        font-weight: 500;
        color: #205329;
        border: none;
        background-color: #e9eff6;
        border-radius: 9px;
        box-shadow: 0 1px 2px rgba(32, 83, 41, 0.5);
        transition: all 0.3s ease; }
        .pos-method-form_input input:focus, .pos-method-form_input input:valid,
        .pos-method-form_input select:focus,
        .pos-method-form_input select:valid {
          background-color: #eef1f6;
          box-shadow: 0 0 0.3rem 0.5rem rgba(16, 171, 43, 0.36); }
      .pos-method-form_input select {
        padding: .5rem; }
        .pos-method-form_input select:focus, .pos-method-form_input select:valid {
          background-color: #eef1f6;
          box-shadow: 0 0 0.3rem 0.1rem rgba(16, 171, 43, 0.36); }
        .pos-method-form_input select:active, .pos-method-form_input select:focus {
          background-color: #eef1f6;
          box-shadow: 0 0 0.3rem 0.5rem rgba(16, 171, 43, 0.36); }
      .pos-method-form_input select {
        width: max-content; }
      .pos-method-form_input .wallet-name_usdt {
        margin-top: 2rem; }
    .pos-method-form .usdt-ER20 {
      display: none; }
    .pos-method-form .hero-btn-dark {
      margin-top: 3rem; }
