// COLOR VARIABLES
$color-primary: #51cf66;
$color-primary-light: #10AB2B;
$color-primary-light-1: #ebfbee;
$color-secondary-light: #F89942;
$color-secondary-dark: #205329;
$color-grey-light-1: #fff;
$color-grey-light-2: #eef1f6;
$color-grey-dark-1: #0F7A89;
$color-grey-dark-2: #15464C;
$color-grey-dark-3: #6FC1CC;
$color-danger: #ec1a23;


// FONT VARIABLES
$font-primary: 'Inter Tight', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE VARIABLES
// RESPONSIVE VARIABLES
$bp-largest: 75em; //
$bp-larger: 62.5em; //
$bp-big: 50.3em; //
$bp-large: 45.7em; //
$bp-largeDns: 43.3em; //
$bp-medium: 38.6em; //
$bp-mid: 35.6em; //
$bp-small: 30.5em; //
$bp-small-extra: 25.5em; //
$bp-smaller: 18.8em; //

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   box-sizing: border-box;
   font-size: 62.5%;

   @media only screen and (max-width:$bp-small-extra) {
      font-size: 50%;
   }
}

body {
   font-family: $font-primary;
   background-color: $color-grey-light-1;
   font-weight: 300;
   line-height: 1.4;

   scrollbar-width: thin;
   scrollbar-color: transparent transparent;
   overflow: -webkit-scrollbar;
   scrollbar-width: thin;

   &::-webkit-scrollbar {
      width: .8rem;
   }

   &::-webkit-scrollbar-thumb {
      background-color: $color-primary;
      border-radius: 10px;

      &:active {
         background-color: $color-primary-light;
      }
   }

   &::-webkit-scrollbar-track {
      background-color: $color-primary-light-1;
   }
}

.container {
   overflow-x: hidden;
   display: grid;
   grid-template-columns: [sidebar-start] 23% [sidebar-end main-start] 1fr [main-end];
   grid-template-rows: [rowOne-start] 100vh [rowOne-end rowTwo-start] min-content [rowTwo-end];

   @media only screen and (max-width:$bp-big) {
      grid-template-columns: [main-start] 100vw [main-end];
      grid-template-rows: [rowOne-start] 93vh [rowOne-end];
      margin-bottom: 7rem;
      // grid-template-rows: [rowOne-start] 100% [rowOne-end rowTwo-start] 17% [rowTwo-end];
   }

   .sidebar-fixed {
      // Change this width when you adjust the width of [sidebar-start] 23% [sidebar-end] above.
      width: 23%;

      @media only screen and (max-width:$bp-big) {
         width: 100%;
      }
   }
}

.card {
   background-color: $color-primary-light-1;
   background-size: cover;
   border: 1px solid #ddd;
   border-radius: 10px;
   padding: 1rem 1.5rem;
   box-shadow: rgba($color-primary-light, 0.3) 0px 1px 1px;
   margin-bottom: 2rem;

   @media only screen and (max-width:$bp-medium) {
      padding: 1rem;
   }
}

// Toast styling
.toast {
   visibility: hidden;
   min-width: 25rem;
   background-color: $color-primary;
   color: $color-primary-light-1;
   text-align: center;
   border-radius: 10px;
   padding: 1.2rem;
   position: fixed;
   z-index: 100000000000;
   left: 50%;
   top: 3rem;
   transform: translateX(-50%);
   font-size: 1.6rem;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

// Success toast
.toast.success {
   background-color: $color-primary;
}

// Failure toast
.toast.fail {
   background-color: $color-danger;
}

// Toast visibility
.toast.show {
   visibility: visible;
   animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

// Toast fade in
@keyframes fadein {
   from {
      top: 0;
      opacity: 0;
   }

   to {
      top: 30px;
      opacity: 1;
   }
}

// Toast fade out
@keyframes fadeout {
   from {
      top: 30px;
      opacity: 1;
   }

   to {
      top: 0;
      opacity: 0;
   }
}