body.authentication {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100vh;
   background-image: linear-gradient(to right, rgba($color-secondary-dark, 0.93), rgba($color-grey-dark-2, 0.93)), url(/img/bg-image.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   overflow-y: auto;

   // p {
   //    font-size: 1.3rem;
   //    line-height: 2rem;
   //    letter-spacing: 0.5px;
   //    margin-bottom: 1rem;

   //    @media only screen and (max-width:$bp-large) {
   //       // margin: 1.5rem;
   //    }
   // }

}

.sign-in-container.form-container {
   justify-content: start;
   // padding: 3rem 0;
}

.form-container {
   background-color: $color-primary-light-1;
   color: $color-secondary-dark;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 3rem;
   height: 100%;
   text-align: center;

   height: auto;
   min-height: 100%;
   overflow-y: auto;

   @media only screen and (max-width:$bp-medium) {
      width: 100%;
   }

   @media only screen and (max-width:$bp-larger) {
      // padding: 0 3rem;
   }

   .signup-form_container {
      width: 100%;
   }

   a {
      color: inherit;
   }

   button.ghost {
      background-color: transparent;
      border-color: #FFFFFF;
   }

   input {
      margin: 8px 0;
      width: 100%;
      height: auto;
   }
}

.authentication-container {
   background-size: cover;
   border-radius: 10px;
   position: relative;
   overflow-y: auto;
   width: 80%;
   max-height: 85vh;
   height: 100%;

   &.login {
      max-height: 60vh;
   }

   @media only screen and (max-width:$bp-large) {
      width: 90%;
   }

   .login-header,
   .signup-header {

      .heading-subtext {
         text-align: center;
         margin-bottom: 1.5rem;
      }
   }

   .signup-form {
      width: 100%
   }

   .signup-form_input {

      @media only screen and (max-width:$bp-mid) {
         margin-top: 1.5rem;
         display: block;
      }

      .heading-subtext {
         text-align: left;
      }

      .checkbox {
         width: 100%;
      }
   }
}


.terms-container {
   display: flex;
   align-items: center;
   margin-top: 2.5rem;

   .checkbox-container {
      display: flex;
      align-items: center;

      input[type="checkbox"] {
         margin-right: 0.5rem;
      }

      label {
         font-size: 1.5rem;
         color: $color-secondary-dark;
         width: 100% !important;

         a {
            // color: $color-primary-dark;
            text-decoration: underline;
         }
      }
   }
}