body.authentication {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100vh;
   background-image: linear-gradient(to right, rgba($color-secondary-dark, 0.93), rgba($color-grey-dark-2, 0.93)), url(/img/bg-image.jpg);
   background-size: cover;
   background-repeat: no-repeat;

   // p {
   //    font-size: 1.3rem;
   //    line-height: 2rem;
   //    letter-spacing: 0.5px;
   //    margin-bottom: 1rem;

   //    @media only screen and (max-width:$bp-large) {
   //       // margin: 1.5rem;
   //    }
   // }



   .form-container {
      background-color: $color-primary-light-1;
      color: $color-secondary-dark;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 5rem;
      height: 100%;
      text-align: center;

      @media only screen and (max-width:$bp-larger) {
         padding: 0 3rem;
      }

      a {
         color: inherit;
      }

      button.ghost {
         background-color: transparent;
         border-color: #FFFFFF;
      }

      input {
         margin: 8px 0;
         width: 100%;
         height: auto;
      }
   }

   .authentication-container {

      background-size: cover;
      border-radius: 10px;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
         0 10px 10px rgba(0, 0, 0, 0.22);
      position: relative;
      overflow: hidden;
      // width: 768px;
      // max-width: 100%;
      min-height: 100%;
      width: 80%;
      min-height: 480px;

      .heading-subtext {
         text-align: center;
         margin-bottom: 1.5rem;
      }
   }

}