.addProduct,
.sellProduct {
   &-form {

      &_input {
         margin-top: 2rem;
         display: flex;
         align-items: center;

         .naira-input-container {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
         }

         .naira {
            position: absolute;
            font-family: inherit;
            font-weight: 500;
            color: $color-secondary-dark;
            font-size: 1.6rem;
            left: 10px;
            // top: 50%;
            // transform: translateY(-50%);
         }

         label {
            display: block;
            text-align: left;
            font-size: 1.8rem;
            font-weight: 500;
            color: $color-secondary-dark;
            width: 20rem;
         }

         input,
         select {
            height: 100%;
            width: 100%;
            outline: none;
            padding: 1rem;
            padding-left: 3rem;
            font-size: 1.6rem;
            font-family: inherit;
            font-weight: 500;
            color: $color-secondary-dark;
            border: none;
            background-color: #e9eff6;
            border-radius: 9px;
            box-shadow: 0 1px 2px rgba($color-secondary-dark, .5);
            transition: all 0.3s ease;

            &:focus,
            &:valid {
               background-color: $color-grey-light-2;
               box-shadow: 0 0 0.3rem 0.5rem rgba($color-primary-light, .36);
            }

            &:disabled {
               background-color: $color-grey-light-2;
               box-shadow: 0 0 0.3rem 0.5rem rgba($color-secondary-light, .36);
               color: #999;
               border: 1px solid #ddd;
               cursor: not-allowed;
            }
         }

         select {
            padding: .5rem;
            width: max-content;

            &:focus,
            &:valid {
               background-color: $color-grey-light-2;
               box-shadow: 0 0 0.3rem 0.1rem rgba($color-primary-light, .36);
            }

            &:active,
            &:focus {
               background-color: $color-grey-light-2;
               box-shadow: 0 0 0.3rem 0.5rem rgba($color-primary-light, .36);
            }
         }


         // input[type='checkbox'] {
         //    width: auto;
         //    box-shadow: none;
         //    margin: 1rem;

         //    &:hover {
         //       cursor: pointer;
         //    }
         // }
      }
   }

   .checkbox {
      margin-left: 3rem;
      margin-top: 2rem;
      font-size: 1.8rem;
      font-family: inherit;
      font-weight: 500;

      &-container {
         display: flex;
         align-items: center;
      }
   }

   .hero-btn-dark {
      display: inline;
      margin-top: 3rem;
      align-self: center;
      padding: 1rem 3rem;
   }
}

.checkbox-container {
   display: flex;
   align-items: center;
   padding-bottom: 1rem;
}

.checkbox-container input[type="checkbox"] {
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   width: 2rem;
   height: 2rem;
   border-radius: 100%;
   border: 2px solid $color-primary;
   background-color: $color-grey-light-1;
   margin-right: 1rem;
   cursor: pointer;

}

.checkbox-container input:checked {
   background-color: $color-primary;
   box-shadow: inset 0 0 0 1.5px $color-primary-light-1;
}

.checkbox-container label {
   // font-size: 16px;
   cursor: pointer;
}