.modal {
   padding: 3rem;
   opacity: 0;
   visibility: hidden;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 60%;
   max-width: 100rem;
   max-height: 85vh;
   height: auto;
   z-index: 10000;
   transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
   overflow-y: auto;

   @media only screen and (max-width:$bp-big) {
      padding: 1.7rem;
      width: 70%;
   }

   @media only screen and (max-width:$bp-medium) {
      width: 85%;
      padding: 2rem;
      transform: translate(-50%, -50%);
   }

   @media only screen and (max-width:$bp-small) {
      width: 90%;
      padding: 1.3rem;

   }

   &.active,
   &.openModal {
      opacity: 1;
      visibility: visible;
      transition: opacity .3s ease-in-out, visibility .2s;
   }
}

.main.blur,
.sidebar.blur {
   backdrop-filter: blur(1px);
   filter: blur(1px);
}

.main.blur::before,
.sidebar.blur::before {
   content: '';
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.46);
   z-index: 2222222;
}

.sidebar.blur {
   .sidebar-fixed {
      width: 100%;
   }

   @media only screen and (max-width:$bp-big) {
      backdrop-filter: blur(0px);
      filter: none;
   }

   &::before {

      @media only screen and (max-width:$bp-big) {
         background-color: none;
      }
   }
}