.addProduct,
.sellProduct {
   &-form {

      &_input {
         margin-top: 2rem;
         display: flex;
         align-items: center;

         label {
            width: 20rem;
         }

         input,
         select {
            width: 100%;

            &:disabled {
               background-color: $color-grey-light-2;
               box-shadow: 0 0 0.3rem 0.5rem rgba($color-secondary-light, .36);
               color: #999;
               border: 1px solid #ddd;
               cursor: not-allowed;
            }
         }
      }
   }

   .hero-btn-dark {
      display: inline;
      margin-top: 3rem;
      align-self: center;
      padding: 1rem 3rem;
   }
}