.pos {
   height: min-content;
   color: $color-secondary-dark;

   &-method {
      margin: 0 auto;
      padding: 1rem 2rem;
      overflow: hidden;

      &-form {

         &_input {
            margin-top: 2rem;

            .naira-input-container {
               position: relative;
               display: flex;
               align-items: center;
            }

            .naira {
               position: absolute;
               font-family: inherit;
               font-weight: 500;
               color: $color-secondary-dark;
               font-size: 1.6rem;
               left: 10px;
               // top: 50%;
               // transform: translateY(-50%);
            }

            label {
               display: block;
               text-align: left;
               font-size: 1.8rem;
               font-weight: 500;
               margin-bottom: .5rem;
               color: $color-secondary-dark;
            }

            input,
            select {
               height: 100%;
               width: 60%;
               outline: none;
               padding: 1rem;
               padding-left: 3rem;
               font-size: 1.6rem;
               font-family: inherit;
               font-weight: 500;
               color: $color-secondary-dark;
               border: none;
               background-color: #e9eff6;
               border-radius: 9px;
               box-shadow: 0 1px 2px rgba($color-secondary-dark, .5);
               transition: all 0.3s ease;

               &:focus,
               &:valid {
                  background-color: $color-grey-light-2;
                  box-shadow: 0 0 0.3rem 0.5rem rgba($color-primary-light, .36);
               }
            }

            select {
               padding: .5rem;
               width: max-content;

               &:focus,
               &:valid {
                  background-color: $color-grey-light-2;
                  box-shadow: 0 0 0.3rem 0.1rem rgba($color-primary-light, .36);
               }

               &:active,
               &:focus {
                  background-color: $color-grey-light-2;
                  box-shadow: 0 0 0.3rem 0.5rem rgba($color-primary-light, .36);
               }
            }
         }

         .hero-btn-dark {
            margin-top: 3rem;
         }
      }
   }
}