.sidebar {
   grid-column: sidebar-start / sidebar-end;
   grid-row: rowOne-start / rowTwo-end;
   overflow-y: auto;
   height: 100vh;
   width: 100%;
   background-color: $color-primary;
   color: $color-primary-light-1;
   padding: 2rem 0;
   display: flex;
   flex-direction: column;
   position: relative;
   box-shadow: rgba($color-primary, 0.5) 2px 0px 7px;

   // @media only screen and (max-width:$bp-larger) {
   //    padding: 2rem 0;
   // }

   &-header {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;
      padding: 1rem 0;

      &-link {
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 1rem;
         text-decoration: none;
      }

      &-logo {
         width: 4rem;
         height: 4rem;
      }

      span {
         font-size: 4rem;
         font-weight: 600;
         color: $color-secondary-dark;
         display: flex;
         align-items: center;
      }
   }

   .side-nav {
      font-size: 2rem;
      list-style: none;
      margin-top: 1rem;
      border-bottom: .5px solid $color-primary-light;

      // @media screen and (max-width: 1200px) {
      //    font-size: 1.3rem;
      // }

      &_item {
         background-image: linear-gradient($color-secondary-dark 0 0);
         padding: 1rem 1.5rem;
         color: $color-secondary-dark;
         font-weight: 600;
         background-size: 200% .3rem;
         background-position: 200% 100%;
         background-repeat: no-repeat;
         transition: background-size .3s, background-position .3s .3s;

         @media only screen and (max-width:$bp-small) {
            padding: 1rem 0 1rem 1rem;
         }

         &.active {
            color: $color-primary-light-1;
            background-color: $color-secondary-dark;
         }
      }

      &_item:hover {
         transition: background-size .3s .3s, background-position .3s;
         background-size: 200% 100%;
         background-position: 100% 100%;
         color: $color-primary-light-1;
      }


      &_link:link,
      &_link:visited {
         color: white;
         text-decoration: none;

         .icon {
            margin-right: 1rem;

            @media only screen and (max-width:$bp-small) {
               margin-right: .5rem;
            }
         }
      }
   }
}