.reports,
.goods {
   height: min-content;
   color: $color-secondary-dark;

   &-method {
      margin: 0 auto;
      overflow: hidden;

      .table-header {
         margin-bottom: 2rem;
      }

      .reports-table-container,
      .product-table-container {
         overflow-x: auto;
         padding-bottom: 2rem;

         .product-table,
         .reports-table {
            margin: 0 auto;
            width: 100%;
            border-collapse: collapse;
         }

         .table-header-row {
            color: $color-grey-dark-2 ;
            font-size: 1.6rem;
            text-align: left;
            border-bottom: 1px solid $color-grey-dark-3;
            box-sizing: content-box;
         }

         .table-body-row,
         .table-foot-row {
            color: $color-grey-dark-1 ;
            font-weight: 500;
            font-size: 1.5rem;
            cursor: pointer;
            border-bottom: 1px solid $color-grey-dark-3;

            .hero-btn-light {
               margin: 0;
            }

            strong {
               font-size: 1.6rem;
            }
         }

         .table-body-row:hover {
            background-color: $color-grey-dark-2;
            color: $color-primary-light-1;

            & .hero-btn-light {
               background-color: $color-primary-light-1;
               color: $color-grey-dark-2;
            }
         }

         // .pagination-container {
         //    display: flex;
         //    justify-content: space-between;
         //    align-items: center;
         //    margin-top: 0.5rem;
         // }

         // .pagination-button {
         //    font-size: 0.75rem;
         //    color: #000;
         // }

         // .pagination-button:disabled {
         //    opacity: 0.5;
         //    cursor: not-allowed;
         // }
      }
   }
}